/* AI工具上新 */
.ai-tools-section {
  padding: 40px 0;
  margin-bottom: 60px;
}
.tools-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
  gap: 20px;
  width: 1350px;
  margin-left: -60px;
}

.tool-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  height: 145px;
  position: relative; 
}

/* 暗角 */
.tool-card:not(.coming-soon) {
  position: relative;
}

/* 渐变伪元素*/
.tool-card:not(.coming-soon)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
  background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0) 0%,  
    rgba(0, 0, 0, 0) 30%,    
    rgba(0, 0, 0, 0) 70%,   
    rgba(0, 0, 0, 0.5) 100%  );
  z-index: 0; 
  pointer-events: none;
}


.tool-use-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 16px;
  margin-top: 45px;
  background: linear-gradient(90deg,#9cfd9d, #1bd3eb,#0940f4);
  color: #000000;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  z-index: 2; 
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

/* 鼠标悬浮卡片时，显示按钮 */
.tool-card:not(.coming-soon):hover .tool-use-btn {
  opacity: 1;
  visibility: visible;
}


.tool-use-btn:hover {
  transform: translate(-50%, -50%) scale(1.05);
  background-color: #f5f5f5;
  
}
.tool-card:not(.coming-soon)::after{
    background: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0) 0%,  
    rgba(0, 0, 0, 0) 30%,    
    rgba(0, 0, 0, 0) 70%,   
    rgba(0, 0, 0, 0.5) 100%  );
}
.tool-card video {
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: block;
}


.tool-card span {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-top: -30px;
  position: relative; 
  z-index: 1;
}


.tool-card.coming-soon {
  height: 145px; 
  background-color: rgba(255,255,255,0.03);
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  text-align: center;
}

.coming-soon-inner img{
  width: 130%;
  height: 127%;
}

.coming-soon-inner .iconfont {
  font-size: 24px;
  color: rgba(255,255,255,0.3);
  animation: spin 2s linear infinite;
}

.coming-soon-inner span {
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin-top: 0;
  background: none;

}
