/* 购物车弹窗 */
.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: flex-end;
  z-index: 1000;
  overflow: hidden;
}

/* 购物车弹窗容器 */
.cart-modal {
  width: 360px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%); /* 初始位置在右侧外部 */
  transition: transform 0.3s ease; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* 弹窗显示状态 */
.cart-modal-overlay.active {
  display: flex;
}
.cart-modal-overlay.active .cart-modal {
  transform: translateX(0); /* 滑入可视区域 */
}

/* 弹窗头部 */
.cart-header {
  padding: 16px 20px;
  border-bottom: 1px solid #ffffff;
  background-color: #000a35;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-header img{
    position: absolute;
    height: 75px;
    width: 75px;
    opacity: 0.5;
    transform: translate(50px,0px);
}
.cart-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  transform: translate(0px,0px);
}
.cart-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #666;
  padding: 0;
  line-height: 1;
}

/* 购物车商品列表 */
.cart-items {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.cart-item {
  display: flex;
  align-items: center;
  padding: 12px 0;

}
.cart-item-icon {
  width: 48px;
  height: 48px;
  background-color: #f5f5f5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.cart-items .cart-item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}
.background img{
    height: 200px;
    width: 200px;
}

/* 操作按钮区 */
.cart-actions {
  margin-top: 400px;
}
.cart-action-btn {
  display: block;
  width: 170px;
  height: 38px;
  padding: 12px 0;
  margin-bottom: 16px;
  background-color: #e5e5e5;
  font-size: 14px;
  cursor: pointer;
  transform: translate(65px,0px);
  border-radius: 20px;
}
.cart-action-btn span{
    transform: translate(0px,100px);
    font-size: 14px;
}

.cart-action-btn:hover {
  background: linear-gradient(90deg,#80f9ff, #1cb7ff,#0940f4);
  color: white;
}
.cart-action-btn.primary {
  background: linear-gradient(90deg,#80f9ff, #1cb7ff,#0940f4);
  color: #fff;
  border-color: #1677ff;
  margin-bottom: 0;
}
.cart-action-btn.primary:hover {
  background-color: #0f62d8;

}
