/* 创作者推荐 */
.creator-section {
  margin-top: 70px;
  margin-bottom: 68px;
}

.creator-cards {
  display: flex;
  gap: 50px;
  width: 1100px;
  margin-left: 100px;
}

.creator-card {
  flex: 1;
  background-color:rgba(255, 255, 255, 0.884);
  border-radius: 8px;
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 100px;
  width: auto;
}
.creator-avatar-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creator-avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 36px;
  margin-left: 10px;
}

.creator-works{
  margin-left: 30px;
  margin-top: 15px;
}
.creator-info {
  flex: 1;
}

.creator-name {
  font-size: 12px;
  color: black;
  font-weight: 340;
  white-space: nowrap;
  margin-left: -52px;
  margin-top: -30px;
}
.creator-name.first-child{
  margin-left: -47px;
}
.creator-name.second-child{
  margin-left: -62px;
}
.creator-name.third-child{
  margin-left: -48px;
}
.creator-works {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 8px;
  /* margin-left: 30px; */
}

.creator-works img {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  object-fit: cover;
}

.creator-likes {
  font-size: 12px;
  color: black;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: -58px;
}

.creator-likes .iconfont {
  color: #ff3b30;
}
.creator-likes img{
  height: 15px;
  width: 15px;
}
.creator-cards a{
  transition: all 0.4s ease;

}
.creator-cards a:hover{
  transform: scale(1.05);
  background: white;
  border-radius: 8px;

}
