/* 顶部导航 */
.header {
  background: linear-gradient(to bottom, rgba(24, 24, 24, 0.079), rgba(0, 0, 0, 0));
  /* padding: 14px 0; */
    top: 0;
    z-index: 999;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo { 
  display: flex;
  align-items: center;
  gap: 8px;
  height: 60px;
  width: 150px;
  margin-left: -70px;
}

.main-nav {
  display: flex;
  gap: 30px;
  margin: 0 20px;
  margin-left: -320px;
  display: flex; 
  align-items: center; 
  padding: 0;
  list-style: none;
}


.nav-item:hover {
  color: #00f0ff;
}

/* 下拉菜单样式 */
.dropdown-trigger {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
/* 下拉1 */
.dropdown-content1 {
  position: absolute;
  top: 100%; 
  left: 0;
  min-width: 500px; 
  min-height: 350px;
  margin-left: -130px;
  background-color: rgb(31, 30, 30);
  border-radius: 8px;
  padding: 16px;
  margin-top: 0px;
  display: none;
  z-index: 9999;
  box-shadow: 0 4px 20px rgba(0, 240, 255, 0.15);
  border: 1px solid rgba(52, 52, 254, 0.448);
}
.nav-item {
  font-size: 15px;
  color: white;
  padding: 8px 0;
  position: relative;
  transition: color 0.3s ease;
  font-weight: 500;
}
.nav-item.active {
  background: linear-gradient(90deg,#3ef797, #20ddc7,#1381e1);
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

.header .dropdown-content1 .resource-card {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}


.dropdown-content1 .resource-card h2 {
  text-align: left;
  margin-top: 24px; 
  margin-bottom: 5px; 
}

.dropdown-content1 .resource-card span {
  text-align: left; 
  margin-right: 8px;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}
.header .dropdown-content1 .resource-card{
  display: flex;
  font-size: 10px;
  font-weight: 100;
  color: white;
}


.header .dropdown-content1 .resource-card img {
  width: 100%;
  height: 46%;
  object-fit: cover; 
  border-radius: 10px; 
  margin: 10px 0; 
}
/* 下拉2 */
.dropdown-content2 {
  position: absolute;
  top: 100%; 
  height: 292px;
  width: 130px;
  background-color: rgb(31, 30, 30);
  border-radius: 8px;
  margin-top: 0px;
  display: none;
  z-index: 9999;
  box-shadow: 0 4px 20px rgba(0, 240, 255, 0.15);
  border: 1px solid rgba(52, 52, 254, 0.448);
}
.dropdown-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(207, 207, 207, 0.808);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.dropdown-item {
  display: block;
  margin-left: 20px;
  padding: 8px 16px;
  margin-top: 0px;
  margin-left: 0px;
  width: 130px;
  height: 37px;
  padding-top: 12px;
  overflow: hidden;
  text-decoration: none;
}
.dropdown-content2 .first{
  margin-top: 5px;
}
.dropdown-content2 .dropdown-item:hover {
  background: linear-gradient(to right, #00eeff, #6666ff);
}
.dropdown-item:hover a {
  color: white;
}
.dropdown-content2 .first:hover{
  background: linear-gradient(to right, #00eeff, #6666ff);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown-content2 .last:hover {
  background: linear-gradient(to right, #00eeff, #6666ff);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-item .first{
  margin-top: 1000px;
}

.dropdown-trigger:hover .dropdown-content1{
  display: block;
  animation: fadeIn all 0.3s ease;
}
.dropdown-trigger:hover .dropdown-content2{
  display: block;
  animation: fadeIn all 0.3s ease;
}

.dropdown-grid {
  margin: 0;
  justify-content: flex-start;
}

/* 下拉3 */

.dropdown-content3 {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 680px;
  height: 390px;  
  background-color: rgb(31, 30, 30);
  border-radius: 8px;
  padding: 16px;
  margin-top: 0px;
  margin-left: -150px;
  display: none;
  z-index: 9999;
  box-shadow: 0 4px 20px rgba(0, 240, 255, 0.15);
  border: 1px solid rgba(52, 52, 254, 0.448);
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
}

.nav-item:hover .dropdown-content3 {
  display: flex;
}

.dropdown-column {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 8px 0;
  height: 600px;
  box-sizing: border-box;
}


.dropdown-column h3 {
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
  margin: 0 0 12px 0;
  font-weight: 400;
  width: 130px;
}
.dropdown-column li {
  font-size: 14px;
  padding: 6px 0;
  position: relative;
  font-weight: 500;
  margin: 0; 
  color:rgba(199, 199, 199, 0.899);
  line-height: 22px;
}

.dropdown-column .h3-wrapper{
  border-bottom: 1px solid rgba(162, 161, 161, 0.277);
}

.dropdown-column img{
  height: 18px;
  width: 18px;
  margin-bottom: -3px;
}

.dropdown-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.dropdown-content3 li:hover a {
  color: white;
}

.new-tag {
  background:linear-gradient(90deg,rgb(67, 22, 214),rgb(63, 97, 188));
  color: #fff;
  font-size: 8px;
  padding: 1px 3px;
  border-radius: 7px;
  margin-left: 5px;
  vertical-align: middle;
}

.all-tools {
  display: inline-block;
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  width: 600px;
  box-sizing: border-box;
  position: absolute;
  top: 320px;
  left: 16px; 
}
.dropdown-content3 .wrapper {
  display: flex;
  padding-top: 10px; 
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.all-tools .span{
  margin-bottom: -10px;
}
/* 下拉4 */
.dropdown-content4 {
  position: absolute;
  top: 100%; 
  left: 0;
  height: 220px;
  width: 130px;
  margin-left: -5px;
  background-color: rgb(31, 30, 30);
  border-radius: 8px;
  margin-top: 0;
  display: none;
  z-index: 9999;
  box-shadow: 0 4px 20px rgba(0, 240, 255, 0.15);
  border: 1px solid rgba(52, 52, 254, 0.448);
  flex-direction: column;
}


.dropdown-content4 .dropdown-item {
  display: block;
  width: 100%;
  height: 37px;
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;
}
.dropdown-content4 .first{
  margin-top: 10px;
}
.dropdown-content4 .first:hover{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.dropdown-content4 .last:hover{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-content4 .dropdown-item a {
  display: block; 
  height: auto;
  color: rgb(207, 207, 207);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.dropdown-content4 .dropdown-item:hover {
  background: linear-gradient(to right, #00eeff, #6666ff);
}
.dropdown-content4 .dropdown-item:hover a{
  color: white;
}
.nav-item:hover .dropdown-content4 {
  display: flex;
}

.nav-item p {
  margin-left: 25px;
}

.tag-new {
  position: absolute;
  margin-bottom: -100px;
  background:linear-gradient(90deg,rgb(67, 22, 214),rgb(63, 97, 188));
  color: #fff;
  font-size: 10px;
  padding: 1px 6px;
  border-radius: 4px;
  white-space: nowrap;
  margin-left: 3px;
  font-weight: 400;
  font-size: 9px;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-actions img{
  height: 30px;
  width: 30px;
}

.action-btn {
  color: rgba(255,255,255,0.7);
  font-size: 16px;
  transition: color 0.3s;
  position: relative;
}

.action-btn:hover {
  color: #00f0ff;
}
.action-btn.user img{
  border-radius: 50%;
}

.cart-count, .notify-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #ff3b30;
  color: #fff;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 右上角图标悬浮变白效果 */
.header-actions .action-btn:hover img {
  filter: brightness(0) invert(1);
  transition: filter 0.25s ease;
  transform: scale(1.03);
}
.action-btn.user img:hover{
  filter: none;
  transform: scale(1.1);
  transition: all 0.25s ease;
}


