/* 素材瀑布流 */
.material{
    display: flex;
    margin-top: 150px;
}
/* 上部文字 */
.material-titel{
    text-align: center;
    font-size: 44px;
    font-weight: 500;
}
.material h3{
    text-align: center;
    font-size: 200;
    margin-top: 10px;
}
/* 中部按钮 */
.material .button{
    display: flex;
    flex-wrap: wrap;
}
.material .button .material-tab{
  background-color: rgb(61, 61, 61);
  width: 105px;
  height: 34px;
  border-radius: 20px;
  color: white;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 25px;
}
.material .active{
  background: linear-gradient(90deg,rgb(33, 254, 147),rgb(23, 173, 254),rgb(40, 97, 254));;
}



/* 底部卡片 */
.lower {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: -100px;
}


.stream-card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 260px;
}


.card-img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}


.card-info .creator img{
  position: relative;
  bottom: 45px;
  left: 20px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}
.card-info .creator span{
  position: relative;
  font-size: 10px;
  bottom: 50px;
  left: 25px;
}

.card-img {
  position: relative;
  flex: 1;
  overflow: hidden;
}

/* 暗角效果：底部向上渐变变暗 */
.card-img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%; 
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.1), 
    rgba(0, 0, 0, 0.2) 20%, 
    transparent 100% 
  );
}


.card-info {
  position: relative; 
  z-index: 1;
}
.stream-card .stats img{
  position: relative;
  bottom: 70px;
  left: 175px;
  height: 20px;
  width: 20px;
}
.stream-card .stats span{
  position: relative;
  bottom: 76px;
  left: 170px;
  font-size: 10px;
}
.END{
  text-align: center;
  font-size: 15px;
  color: #cfcfcf;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 50px;
}
