/* 最新消息 */
.news-section {
  padding: 40px 0;
  background-color:black;
  border-top: 1px solid rgba(255,255,255,0.05);
  margin-top: -90px;
}
.news-section .section-title{
  text-align: left;
  font-size: 20px;
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 1350px;
}

.news-card {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  position: relative;
  margin-left: -70px;
}

.news-card:hover {
  /* transform: translateY(-5px); */
}

.news-tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #19bfe8bd;
  color: #fff;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
  z-index: 2;
}

.news-card img {
  width: 100%;
  height: 100%;
  height: 180px;
  width: 320px;
  border-radius: 17px;
}

