/* 图标库区域 */
.resource-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: -10px;
  margin-bottom: 30px;
} 

.resource-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.card-icon {
  width: 64px;
  height: 64px;
  background-color: rgba(0,240,255,0.1);
  border-radius: 12px;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  color: #00f0ff;
  font-size: 28px;
  transition: all 0.3s ease;
}

.resource-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}

.resource-grid img {
  max-width: 100%; 
  max-height: 100%;
  object-fit: contain; 
  height: 40px;
  width: 40px;
  margin-top: -82px;
  transform: translateY(-5px);
}

.resource-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.card-icon {
  width: 64px;
  height: 64px;
  background-color: rgba(0,240,255,0.1);
  border-radius: 12px;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  color: #00f0ff;
  font-size: 28px;
}

.resource-card:hover .card-icon {
  background: linear-gradient(45deg, #01ff88, #21d8f1, #1753ea);
  transform: scale(1.05);
}


.card-name {
  font-size: 17px;
  color: white;
  text-align: center;
}